<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="email" >Email</label>:&nbsp; &nbsp;
                <input type="text" id="email" formControlName="userEmail"/> <br/>
            <label for="firstName" >First Name: </label> :&nbsp; &nbsp;
            <input type="text" id="firstName" formControlName="firstName"/> <br/>

            <label for="lastName">Last Name</label> :&nbsp; &nbsp;
                <input type="text" id="lastName" formControlName="lastName"/> <br/>
             <label for="phoneNmber">Phone Number</label>:&nbsp; &nbsp;
                <input type="text" id="phoneNmber" formControlName="phoneNmber"/> <br/>
             <label for="password">Password</label> :&nbsp; &nbsp;
                <input type="password" id="passcode" formControlName="passcode"/> <br/><br/>
        <input type="submit" value="Submit"/> &nbsp;
        <input type="reset" value="Reset" /> <br/>
    </form>